.container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 0rem;
  background-color: #d8d2c2;
}

.gridContainer {
  display: grid;
  margin-top: 4rem;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 4rem;
}

@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

.searchBar {
  width: 50%;
  height: 2rem;
  align-self: center;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-color: black;
  border-radius: 4px;

  &:focus {
    border-width: 2px;
    border-style: solid;
    border-color: #b17457;
  }
}
